{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="main-section">
    <div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 10px;margin-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row justify-content-center">
                       
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <div class="listing-sorting-holder">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h4>{{vendor_count}} Vendors found</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="listing simple">
                                <ul>
                                    {% for vendor in vendors %}
                                    <li>
                                        <div class="img-holder">
                                            <figure>
                                                <a href="#"><img src="{{vendor.profile.user_pic.url}}" class="img-list wp-post-image" alt=""></a>
                                            </figure>
                                            <span class="restaurant-status open"><em class="bookmarkRibbon"></em>Open</span>
                                        </div>
                                        <div class="text-holder">
                                            <div class="list-rating">
                                                <div class="rating-star">
                                                    <span class="rating-box" style="width: 100%;"></span>
                                                </div>
                                                <span class="reviews">(1)</span>
                                            </div>
                                            <div class="post-title">
                                                <h3>
                                                    <a href="{% url 'vendor_detail' vendor.slug_name %}"><b>{{vendor}}</b></a>
                                                   
                                                </h3>
                                            </div>
                                            
                                            
                                        </div>
                                        <div class="list-option">

                                            <a href="{% url 'vendor_detail' vendor.slug_name %}" class="viewmenu-btn text-color">View Menu</a>
                                        </div>
                                    </li>
                                   {% endfor %}
                                </ul>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}