{% load static %}
<div class="page-section restaurant-detail-image-section" style=" background: url({% if profile.cover_photo %} {{profile.cover_photo.url}} {% else %} {% static 'images/default-cover.PNG' %} {% endif %}) no-repeat scroll 0 0 / cover;">
    <!-- Container Start -->
    <div class="container">
        <!-- Row Start -->
        <div class="row">
            <!-- Column Start -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="company-info-detail">
                    <div class="company-info">
                        <div class="img-holder">
                            <figure>
                                {% if profile.user_pic %}
                                <img src="{{profile.user_pic.url}}" alt="">
                                {% else %}
                                <img src="{% static 'images/default-profile.png' %}" alt="">
                                {% endif %}
                            </figure>
                        </div>

                        <div class="text-holder">
                            <span class="restaurant-title">{{user}}</span>
                            
                            <ul class="user-info-contact">
                                <li class="cell"><i class="icon-phone"></i><a href="">{{user.phone}}</a></li>
                                <li class="email"><i class="icon-mail5"></i><a href="">{{user.email}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>