<div class="user-account-nav user-account-sidebar">
    <div class="user-nav-list">
        <ul>
            <li class="{% if '/customer/' == request.path or '/customer_dashboard' in request.path %}active{% endif %}"><a href="{% url 'customer' %}"><i class="icon-dashboard3"></i>Dashboard</a></li>
            <li class="{% if '/customer/customer_orders/' == request.path %}active{% endif %}"><a href="{% url 'customer_orders' %}"><i class="icon-add_shopping_cart"></i>My Orders</a></li>
            <li class="{% if 'customer_profile' in request.path %}active{% endif %}"><a href="{% url 'customer_profile' %}"><i class="icon-building"></i>My Account</a></li>
            
          
      
            <li><a class="logout-btn" href="{% url 'logout' %}"><i class="icon-log-out"></i>Signout</a></li>
        </ul>
    </div>
</div>