

<div class="navbar navbar-default navbar-fixed-top" id="main-nav">
    <div class="container desktop">
        <div class="navbar-header">
            <div class="navbar-header">
            <a href="{% url 'home' %}" class="navbar-brand">OnlineMarket</a>
            <a href="{% url 'explore' %}" class="navbar-brand">PostSharing</a>
            </div>
        </div>

        <div id="navbar-main">
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li>
                      <a href="{% url 'posts' %}">
                        <i class="fa fa-home {% if request.resolver_match.url_name == 'posts' %}active{% endif %}" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li><a href="{% url 'make_post' %}"><i class="fa fa-plus {% if 'make_post' in request.path %} active {% endif %}" aria-hidden="true"></i></a></li>
                    <li><a href="{% url 'user_page' request.user.pk %}"><i class="fa fa-user {% if 'profile' in request.path %} active {% endif %}" aria-hidden="true"></i></a></li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out {% if 'logout' in request.path %} active {% endif %}" aria-hidden="true"></i></a></li>
                   
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>
       
                {% endif %}
            </ul>
        </div>
    </div>
</div>
