<div class="user-account-nav user-account-sidebar">
    <div class="user-nav-list">
        <ul>
            <li class="{% if '/vendor/' == request.path or '/vendor_dashboard' in request.path %}active{% endif %}"><a href="{% url 'vendor' %}"><i class="icon-dashboard3"></i>Dashboard</a></li>
            <li class="{% if '/vendor/vendor_orders/' == request.path %}active{% endif %}"><a href="{% url 'vendor_orders' %}"><i class="icon-add_shopping_cart"></i>My Orders</a></li>
            <li class="{% if 'products' in request.path %}active{% endif %}"><a href="{% url 'products' %}"><i class="icon-menu5"></i>Menu Builder</a></li>
            <li class="{% if 'opening_hours' in request.path %}active{% endif %}"><a href="{% url 'opening_hours' %}"><i class="icon-menu5"></i>Opening Hours</a></li>
            <li class="{% if 'vendor_profile' in request.path %}active{% endif %}"><a href="{% url 'vendor_profile' %}"><i class="icon-building"></i>My Account</a></li>
            <li><a class="logout-btn" href="{% url 'logout' %}"><i class="icon-log-out"></i>Signout</a></li>
        </ul>
    </div>
</div>