{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div class="main-section">
  

  <!-- Home Pages Elements Strat -->
  <!-- Main Search Start -->
  <div
    class="page-section nopadding cs-nomargin main-search-bar"
    style="
      padding-top: 200px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      background: url(static/extra-images/main-logo.jpg) no-repeat center /
        cover;
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="element-title">
            <h1
              style="
                font-size: 40px;
                color: #505050;
                text-transform: uppercase;
                line-height: 50px;
                margin-bottom: 25px;
                text-align: center;
              "
            >
              We serve for customers and small businesses!<br />
            </h1>
            <p
              style="
                font-size: 18px;
                letter-spacing: 1px;
                color: #505050;
                text-align: center;
              "
            >
              Please search using vendor or product name you want.
            </p>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="main-search fancy bg-holder">
            <form action="{% url 'search' %}" method="GET">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                  <div class="field-holder">
                    <input type="text" name="keyword" placeholder="Vendor or product name" />
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                  <div class="field-holder">
                    <li class="select-location">
                    <div class="foodbakery-locations-fields-group foodbakery-focus-out">
                    <span class="foodbakery-search-location-icon"><i class="icon-location"></i></span>
                    <input type="text" name="address" id="id_address" placeholder="Address" required/>
                    <input type="hidden" name="lat" value="" id="id_latitude">
										<input type="hidden" name="lng" value="" id="id_longitude">
                    </div>
                    </li>
                  </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                  <select name="radius" id="radius" style="height: 50px;" required>
                    <option value="" selected>Choose Radius</option>
                    <option value="5">5 km</option>
                    <option value="10">10 km</option>
                    <option value="15">15 km</option>
                    <option value="25">25 km</option>
                    <option value="50">50 km</option>
                    <option value="100">100 km</option>
                  </select>
                </div>
                
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                  <div class="field-holder">
                    <input type="submit" value="Search" />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    

  <!-- Main Search End -->

  <!-- Top Restarurants Section Start -->
  <div
    class="page-section nopadding cs-nomargin"
    style="
      margin-top: 0px;
      padding-top: 30px;
      padding-bottom: 0px;
      margin-bottom: 0px;
      background: #ffffff;
      display: flex;
      justify-content: center;
    "
  >
  
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div id="cluster-map" style="width: 100%; height: 500px;"></div>
          <br>

          <div class="element-title align-left">
            <h2>Top services</h2>
            <p>Explore shops, restaurants, bars, and more</p>
          </div>
        </div>
        <br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-0">
          <div class="company-logo">
            <ul>
              {% for vendor in vendors %}
              <li class="has-border">
                <figure class="wrapper">
                  <a href="{% url 'vendor_detail' vendor.slug_name %}"
                    ><img
                      src="{{vendor.profile.user_pic.url}}"
                      class=""
                      style="object-fit: cover;"
                      alt=""
                  /></a>
                </figure>
              </li>
              {% endfor %}
              
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Top Restarurants Section End -->
  <!-- Choose From Most Popular Listin Start -->
  <div
    class="page-section nopadding cs-nomargin"
    style="
      margin-top: 0px;
      padding-top: 60px;
      padding-bottom: 50px;
      margin-bottom: 0px;
      background: #ffffff;
    "
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="element-title align-center">
            <h2>Choose From Most Popular Vendors</h2>
            
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="listing fancy">
            <ul class="row">
              {% for vendor in vendors %}
              <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="list-post featured">
                  <div class="img-holder">
                    <figure>
                      <a href="{% url 'vendor_detail' vendor.slug_name %}"
                        ><img
                          src="{{vendor.profile.user_pic.url}}"
                          class="img-thumb wp-post-image"
                          alt=""
                      /></a>
                    </figure>
                    {% if vendor.is_open %}
                    <span class="restaurant-status open">
                      <em class="bookmarkRibbon"></em>open
                    </span>
                    {% else %}
                    <span class="restaurant-status close">
                      <em class="bookmarkRibbon"></em>closed
                    </span>
                    {% endif %}
                  </div>
                  <div class="text-holder">
                    <div class="list-rating">
                      <div class="rating-star">
                        <span class="rating-box" style="width: 100%"></span>
                      </div>
                      <span class="reviews">(1)</span>
                    </div>
                    <div class="post-title">
                      <h5>
                        <a href="{% url 'vendor_detail' vendor.slug_name %}">{{vendor}}</a>
                        <span class="sponsored text-color">Sponsored</span>
                      </h5>
                      {% if vendor.kms %}
                      <span><small><b>{{vendor.kms}}km</b> from current location</small></span>
                      {% endif %}
                    </div>
                
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Choose From Most Popular Listing End -->

  <!-- Home Pages Elements End  -->
</div>

<script>
  const mapToken = '{{MAPBOX_TOKEN}}';
  const profiles_data = {{profiles_json | safe}};
  const vendors_data = {{vendors_json | safe}};
  profiles_data.forEach((profile, i) => {
    profile.geometry = {
      type: 'Point',
      coordinates: [parseFloat(profile.longitude), parseFloat(profile.latitude)]
  }
  profile.type = 'Feature';
  profile.properties = {
    name: vendors_data[i].vendor_name,
    slug_name: vendors_data[i].slug_name
  }
  })
  
  const profiles = {features: profiles_data};
  console.log('before: ', profiles)
  </script>
  <script src="{% static '/js/clusterMap.js' %}"></script>
  
{% endblock %}