{% extends 'base.html' %}
{% load static %}

{% block content %} 
<div class="container my-5">
    <div class="justify-content-center row">
        <div class="col md-8">
            <div class="bg-white p-3">
                <h4 class="mt-2 mb-3">Thank you for your order!</h4>
                <h6>Hello {{order.first_name}}, </h6><span>Review your order below.</span>
                <br>
                <div class="d-flex justify-content-between mt-3">
                    <div>
                        <span class="d-block">Order date: </span><span class="font-weight-bold">{{order.created_at}}</span>
                    </div>
                    <div>
                        <span class="d-block">Order number: </span><span class="font-weight-bold">{{order.order_no}}</span>
                    </div>
                    <div>
                        <span class="d-block">Transaction number: </span><span class="font-weight-bold">{{order.payment}}</span>
                    </div>
                    <div>
                        <span class="d-block">Payment method: </span><span class="font-weight-bold">{{order.payment_method}}</span>
                    </div>
                </div>
                <br>
                <table class="table">
                    <tbody>
                    {% for item in ordered_items %}
                    <tr>
                    <td style="border:none;"><img src="{{ item.product.image.url }}" width="40" alt="Food Image"></td>
                        <td style="border:none;">
                            <p class="mb-0"><b>{{item.product}}</b></p>
                            <a href="{% url 'vendor_detail' item.product.vendor.slug_name %}" class="text-muted">{{ item.product.vendor }}</a>
                        </td>
                        <td style="border:none;">{{item.quantity}} QTY</td>
                        <td style="border:none;">${{item.price}}</td>
                    </tr>    
                    {% endfor %}
                    </tbody>
                </table>
                <div class="row mt-5">
                    <div class="d-flex justify-content-center col-md-6">
                        <img src="{% static 'images/paid.png' %}" width="200">

                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li style="list-style-type: none;">
                                Subtotal
                                <span class="price float-right">
                                    <span class="currency">$</span>
                                    <span id="subtotal">{{subtotal}}</span>
                                </span>
                            </li>
                            <li style="list-style-type: none;">
                                {% for key, val in tax_dict.items %}
                                <span>{{key}} </span>
                                {% for i in val%}
                                <small>({{i}}%)</small>
                                {% endfor %}
                                {% endfor %}
                                <span class="price float-right">
                                    <span class="currency">$</span>
                                    <span id="tax">{{tax_amount}}</span>
                                </span>
                            </li>
                            <li style="list-style-type: none; font-weight: 600;">
                                TOTOAL
                                <span class="price float-right">
                                    <span class="currency">$</span>
                                    <span id="grand_total">{{total}}</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <div>
                        <span class="d-block font-weight-bold">Thanks for shopping with us.</span>
                        <span class="text-info">OnlineMarket Team</span>
                    </div>
                    <div>
                        <span class="d-block font-weight-bold">Need help? </span>
                        <span>Call: +1 4125156762</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}